.jumbotron{
	background-color: rgba(95,45,85,0.8);
	color: black;
	margin-top: 50px; /*Se pone este margen ya que el fixed-top del navbar nos quita espacio en este*/
}

.card-hotel{
	flex: 1 150px; 
	padding: 2px 5px 2px 5px
}

.btn{
	background-color: rgba(95,45,85,0.8);
}

footer {
	background-color: rgba(95,45,85,0.8);
}
